# Evitar subir archivos de configuración local y temporales
*.log
*.bak
*.tmp
*.swp
*.DS_Store
*.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
override.tf
override.tf.json
*.tfvars
*.zip

# Binarios y ejecutables grandes
*.exe
*.dll
*.so

# Archivos específicos de tu proyecto
terraform/function.zip
DataCovid.csv

# GitHub Actions
# No ignoramos .github/workflows/