# Archivos de Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Entornos virtuales
.venv/
env/
venv/

# Archivos de salida
*.log
*.out

# Archivos de configuración local
terraform.tfvars

# Archivos de estado y lock de Terraform
*.tfstate
*.tfstate.backup
.terraform/


terraform/.terraform.lock.hcl
terraform/function.zip

# Terraform provider binaries
terraform/.terraform/